* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top bar items*/
.top-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.top {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-weight: bold;
    font-size: large;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.pricing, .community {
    margin-left: 20px;
}

/* hero bar items */
.hero-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.hero {
    width: 900px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.hero-header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}

.hero-body {
    margin-bottom: 40px;
    margin-right: 100px;
    text-align: justify;
}

.hero-button {
    padding: 20px 20px;
    color: #fff;
    background-color: #3882F6;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image {
    border: 2px;
    border-style: solid;
    border-color: #fff;
}

/* feature boxes */

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    width: 900px;
    height: 300px;
    margin: 50px;
    margin-bottom: 0px;
}

.feature-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature-title {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
}

.blue-box {
    padding: 50px 50px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: #e5e7eb
}

p {
    width: 150px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

/* quote */

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
}

.quote {
    width: 900px;
    height: 225px;
    margin: 30px;
}

.quote-text {
    text-align: justify;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
}

.quote-person {
    text-align: right;
    margin-right: 120px;
    
}